h1 {
  color: #000000; }

.frase {
  width: 300px;
  color: #000000; }

body {
  background-color: #ffffff;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; }

.hero__wave {
  background-image: url("../assets/img/fotohome1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center left;
  height: 600px; }

a {
  text-decoration: none;
  color: black; }

.first-container {
  background-color: #354259;
  color: #ffffff;
  padding: 50px 100px; }
  .first-container h2 {
    margin: 0; }

.text-container {
  padding: 50px;
  color: white; }
  .text-container h1 {
    color: white;
    font-style: italic; }
  .text-container h2 {
    color: white;
    font-style: italic; }

.segunda-section-wrapper {
  background-color: #354259; }
  .segunda-section-wrapper .imagen-home {
    width: 300px;
    margin: 0 auto;
    padding: 10px 20px; }

.iconoHome {
  width: 80px;
  margin: 30px;
  height: auto;
  display: flex;
  justify-content: flex-start; }

.redeSociales-index {
  width: 90%;
  margin: 30px;
  height: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center; }
  .redeSociales-index .iconoRedes {
    width: 50px;
    height: 50px; }

@media screen and (min-width: 425px) {
  .imagen-home {
    width: 150px; } }

/* NAVBAR */
.navbar-custom {
  background-color: #06113C; }

.title {
  color: #000000;
  text-align: center; }

.sub-paginas, .gallery-subprimario {
  color: #000000;
  display: flex;
  justify-content: center;
  margin: 0 auto; }

.carousel-wrapper {
  padding: 30px 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: 600px;
  margin: 0 auto; }

.carousel-wrapper {
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards; }

@keyframes fadeInAnimation {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.carousel-item {
  height: auto;
  max-height: 300px;
  object-fit: cover; }

.card {
  margin: 20px; }

.title {
  color: #000000;
  text-align: center; }

.title {
  color: #000000;
  text-align: center; }

.redesSociales {
  width: 90%;
  margin: 30px;
  height: auto;
  display: flex;
  justify-content: space-around;
  padding-left: 100px; }
  .redesSociales .iconoRedes {
    width: 100px;
    height: 100px; }

.red-instagram {
  color: #c70570; }

.red-facebook {
  color: #0603bb; }

.red-whatsapp {
  color: #008800; }

.title {
  color: #000000;
  text-align: center; }

.boton {
  height: 50px;
  width: 50px; }
