.title{
    color: $color-primary;
    text-align: center;
  }
  .redesSociales {
    width: 90%;
    margin: 30px;
    height: auto;
    display: flex;
    justify-content: space-around;
    padding-left: 100px;
        iconoRedes{
            width: 100px;
            height: 100px;
            }
        }
  