.body-contactos{
  background-color: #ECE5C7;
}

.title{
    color: $color-primary;
    text-align: center;
  }
  .contactos-wrapper{
    width: 600px;
    border: solid 1px #fff;
    border-radius: 5px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    background-color:#ECE5C7 ;
    box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8) 
    
  }

  // Media Queries
  @media screen and (max-width: 500px)
  {
    .contactos-wrapper{
      width: 300px;
      margin: 0 auto;
      align-items: center;
      justify-content: flex-end;
    }
  }
  // mapas
  $redes: (
    instagram: #c70570,
    facebook: #0603bb,
    whatsapp: #008800,
  );

  @each $red, $color in $redes {
    .red-#{$red} {
      color: $color;
    }
  }

  