
.title{
    color: $color-primary;
    text-align: center;
  }

  .carousel-wrapper {
    padding: 30px 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 600px;
    margin: 0 auto;
  }
  .carousel-wrapper{
      animation: fadeInAnimation ease 3s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
  }
    
  @keyframes fadeInAnimation {
      0% {
          opacity: 0;
      }
      100% {
          opacity: 1;
       }
  }
  .carousel-item{
    height: auto;
    max-height: 300px;
    object-fit: cover;
  } 
