// Inicio

h1 {
    color: #000000;
  }
  
  .frase {
    width: 300px;
    color: #000000;
    
  }
  body {
    margin:0;
    color:#000000;
    background:#c0c0c073;
    font:600 16px/18px 'Open Sans',sans-serif;
  }

  .hero__wave {
    background-image: url("../assets/img/fotohome1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center left;
    height: 600px;
  }
  
  a {
    text-decoration: none;
    color: black;
  }
  .first-container {
    background-color:#354259;
    color: #ffffff;
    padding: 50px 100px;
      h2{
        margin: 0;
      }
  }
  .text-container {
    padding: 50px;
    color: white;
    h1{
      color: white;
    font-style: italic;
    }
    h2{
      color: white;
      font-style: italic;
    }
  }
  // Segunda seccion
  .segunda-section-wrapper{
    background-color: #354259;
    .imagen-home{
      width: 300px;
      margin: 0 auto;
      padding: 10px 20px;
    }
  }
// Footer
  footer{
    padding: 40px;
  }

  .footer-wrapper{
    background-color: #92B4EC;
}
  

// MEDIAQUERIES INDEX
  @media screen and (min-width: 500px) {
    .imagen-home {
      width: 150px;
    }
  }
  
  /* NAVBAR */ 
  .navbar-custom {
    background-color:#069A8E;
  }
