
  .card{
    margin: 20px;
  }
  .titulo-proyecto{
    color: $color-primary;
    text-align: center;
    padding: 20px;
    margin: 25px;
    box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8);
    background-color:#92B4EC ;
  }