<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/styles/styles.css">
    <title>Galeria</title>
</head>
<body>
    <header>
        <nav id="menu">
         <ul class="list">
           <li><a  class="list-item" href="../index.html">Home</a></li>
           <li class="list-item"><a  class="list-item" href="./galeria.html">Galeria</a></li>
           <li class="list-item"><a  class="list-item" href="menu">Proyectos</a></li>
           <li class="list-item"><a  class="list-item" href="menu">Contacto</a></li>
         </ul>
       </nav> 
     </header>
     <h1 class="gallery-title">Galería</h1>
     <main class="gallery">
         <div class="image"></div>
         <div class="image"></div>
         <div class="image"></div>
         <div class="image"></div>
         <div class="image"></div>
         <div class="image"></div>
     </main>
</body>
</html>