<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- keywords -->
  <meta name="keywords" content="Trabajos, experiencia, responsive, html,css">
  <!-- meta description -->
  <meta name="description" content="Comentarios y reseñas de mi trabajo">
  <!-- link bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <!-- link css -->
  <link rel="stylesheet" href="../css/style.css" />
   <!-- Favicon -->
   <link rel="icon" href="../assets/img/logo.ico">
   <!-- Titulo -->

  <title>Ricardo Agudo Proyectos</title>
</head>
<body>
  <header>
    <nav class="navbar-custom navbar navbar-expand-lg sticky-sm-top navbar-dark">
      <div class="container">
        <a class="navbar-brand" href="#">RA</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="../index.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./galeria.html">Galería</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./proyectos.html">Proyectos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./proposito.html">Propósito</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./contactos.html">Contacto</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div>
      <h1 class="titulo-proyecto">Proyectos</h1> 
    </div>
    <main class="container d-flex align-items-center justify-content-center">
      <div class="row vh-90">
        <!-- columna izquierda -->
        <div class="col-12 col-lg-9 p-1"> 
          <div class="row">
            <div class="col-12 col-lg-8 p-1 ">
              <article class="card bg-warning">
                <div class="card-body">
                  <div class="d-flex mb-3">
                    <div>
                      <h6 class="m-0 h6">Secturm</h6>
                      <p class="m-0 h6">Desarrollo Web</p>
                    </div>
                  </div>
                  <div>
                    <p class="h6"> Empresa dedicada al uso de materiales livianos para el hogar
                      Aca se llevó a cabo la preparación y desarrollo del sitio web, haciendo focus en el apartado del Home del sitio, haciéndolo dinámico y respetando la estética de la empresa. 
                      Colores agradables y muy centrado en el concepto de Home Desing trabajado por la marca.
                    </p>
                    <p class="fs-6 Lh-1">“Ernesto Caceres”
                      “Se encontró el resultado esperado y nos sentimos satisfechos como finalizó el proyecto, sobretodo por el respeto a nuestros colores y estética”
                    </p>
                  </div>
                </div>
              </article>
            </div>
            <div class="col-12 col-lg-4 p-1">
              <article class="card bg-success">
                <div class="card-body">
                  <div class="d-flex mb-3">
                    <div>
                      <h6 class="m-0 h6">Sentinel Rocket</h6>
                      <p class="m-0 h6">Diseño </p>
                    </div>
                  </div>
                  <div>
                    <p class="fs-6 Lh-1">Trabaje en conjunto con el sector creativo para conseguir adaptar formatos bootstrap y javascript a la renovación de la página de este sitio dedicado a la filmografía.
                    </p>
                  </div>
                </div>
              </article>
            </div>
            <div class="col-12 col-lg-4 p-1">
              <article class="card bg-danger">
                <div class="card-body">
                  <div class="d-flex mb-3">
                    <div>
                      <h6 class="m-0 h6">This is a Goose</h6>
                      <p class="m-0 h6">Diseño interactivo</p>
                    </div>
                  </div>
                  <div>
                    <p class="fs-6 Lh-1">Página interactiva creada para la concientización de la caza y el consumo del ganso. 
                      Fue llevada a cabo con transiciones, que representan la vida e importancia del ganso en la naturaleza y mostrando el porqué de la necesidad de la disminución de su caza.
                      </p>
                  </div>
                </div>
              </article>
            </div>
            <div class="col-12 col-lg-8 p-1">
              <article class="card bg-primary">
                <div class="card-body">
                  <div class="d-flex mb-3">
                    <div>
                      <h6 class="m-0 h6">Creativity Space</h6>
                      <p class="m-0 h6">Lead en desarrollo</p>
                    </div>
                  </div>
                  <div>
                    <p class="fs-6 Lh-1">Organización que desarrolla espacios multiusos con fines de trabajo y recreación.
                      Se buscaba encontrar una armonía a nivel de utilidad en esta página web que refleje la organización y dinamismo que se encuentran en los espacios que esta organización ofrece.
                      </p>
                  </div>
                </div>
              </article>
            </div>
          </div>
        </div>  
        <!-- columna derecha -->
        <div class="col-12 col-lg-3 mt-1 p-2"> 
          <article class="card bg-secondary">
            <div class="card-body">
              <div class="d-flex">
                <div>
                  <h6 class="m-0 h6">Lurtz Music </h6>
                  <p class="m-0 h6">Diseño y Adaptación</p>
                </div>
              </div>
              <div>
                <p class="fs-6 Lh-1">Se colaboró en el diseño y funcionamiento de las nuevas características que van a agregar a las playlist de la plataforma, también el nuevo agregado de lyrics de canciones con nuevos estilos.</p>
              </div>
            </div>
          </article>
        </div>
      </div>
    </main>

      <!-- Footer -->

    <div class="footer-wrapper">
      <footer class="col-sm-12 redes d-flex justify-content-around align-items-center">
        <a href="./proyectos.html">
          <img src="../assets/img/casita2.png" alt="">
        </a>
       <b><i>Ricardo Agudo Portfolio</i></b> 
        <div class="iconoRedes">
          <img class="red-instagram iconoRedes" src="../assets/img/ig.png" alt="instagram">
          <img class="red-twitter iconoRedes" src="../assets/img/twitter2.png" alt="whatsapp">
          <img class="red-facebook iconoRedes" src="../assets/img/facebook (1).png" alt="facebook">
          <img class="red-github iconoRedes" src="../assets/img/github.png" alt="">
        </div>
      </footer>
    </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
  crossorigin="anonymous"></script>
</body>

</html>